<div class="box">
	<table>
		<tr>
			<td>
				{control formRenameSwitch}
			</td>
			<td>
				<a n:href="SetRFXCode!" class="mybutton_1"> Set code </a><br>
				<a n:href="Control!" class="mybutton_1"> Control </a><br>
				<a n:href="AddDomoticz!" class="mybutton_1"> Add Domoticz </a><br>
			</td>
		</tr>
	</table>
</div>
