.navig {
	/* margin: 15px 15px 15px 15px; */
	background-color: #FFFFFF;
	/*Padding: 20px;*/
	/*border-width: 15px;*/
	Border-radius: 6px;
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 1;
}


#img_line {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 30px;
	width: 100%;
	border-radius: 6px;
	z-index: -1;
}

#img_logo {
	position: absolute;
	bottom: 5px;
	left: 150px;
	width: 100px;
	z-index: 1;
}

#rfx433_logo {
	position: absolute;
	bottom: -10px;
	left: 300px;
	width: 80px;
	z-index: 1;
}

.menu {
	background-color: #007FFF;
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	display: inline-block;
	float:left;
	
}

.mybutton {
	margin: 5px;
	background-color: #0459AE;
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	display: inline-block;
	//text-align: center;
	
}

.mybutton_1 {
	margin: 5px;
	background-color: #0459AE;
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	display: inline-block;
	font-size: 70%;
	//text-align: center;
}

.mybutton_ON {
	margin: 1px;
	background-color: #AD0000;
	Padding: 3px;
	border-width: 7px;
	Border-radius: 7px;
	display: inline-block;
	font-size: 50%;
	//text-align: center;
	
}

.mybutton_OFF {
	margin: 1px;
	background-color: #A297A2;
	Padding: 3px;
	border-width: 6px;
	Border-radius: 6px;
	display: inline-block;
	font-size: 50%;
	//text-align: center;
	
}

.last_date {
	font-size: 67%;
}


.small {
	//background-color: #AD0000;
	border-collapse: collapse;
}

.terminal {
	min-width: 800px;
	min-height: 600px;
}

iframe {
  height: 600px;
  width: 800px;
  resize: both;
  overflow: auto;
}

.content {
	margin: 5px;
	Padding: 7px;
	border-width: 6px;
	//display: inline-block;
	float:left;
}
/* service */
.services {
	/*background-color: #5FC2E9;*/
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	/*display: block;*/
	display: block;
	/*margin: 25px;*/
	border-color: #4CD959;
}


.service {
	background-color: #4C9ED9;
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	display: block;
	margin: 25px;
	border-color: #4CD959;
}

.service_title {
	background-color: #007FFF;
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	display: block;
	float:left;
}

.service_run {
	background-color: #06B206;
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	display: inline-block;
	float:right;
}

.service_no_run {
	background-color: #D71919;
	Padding: 7px;
	border-width: 6px;
	Border-radius: 6px;
	display: inline-block;
	float:right;
}

.service_preview {
	display: block;
}

.service_preview img {
	width: 380px;
}

.service_logo img {
	height: 70px;
}

.service_start_stop {
	display: inline-block;
	float:left;
}


.service_start_stop img {
	width:70px;
	height: 50px;
}


.buttonLeft {
	margin: 5px;
	background-color: #0459AE;
	Padding: 7px;
	Border-radius: 6px;
	display: inline-block;
	//position: absolute;
	//left: 20px;
	float:left;
	z-index: 2;
}

.buttonRight {
	margin: 5px;
	background-color: #0459AE;
	Padding: 7px;
	Border-radius: 6px;
	display: inline-block;
	//position: absolute;
	//right: 20px;
	float:right;
	z-index: 2;
}

a {
	color: white;
}

a.help{
	color: #0459AE;
}

h2 {
	color: #0459AE;
}

table.ser2net{
	//margin: 5px;
	//background-color: #0459AE;
	//Padding: 7px;
	//Border-radius: 6px;
}

table.ser2net th {
	margin: 5px;
	background-color: #0459AE;
	Padding: 7px;
	Border-radius: 6px;
}

table.ser2net td {
	margin: 5px;
	background-color: #007FFF;
	Padding: 7px;
	Border-radius: 6px;
}
