{block content}
<h1 n:block=title>Change password</h1>

{control changeForm}

<p><a n:href="Homepage:" class="mybutton">← Back</a></p>

{* or use {include '../components/form.latte', form => signInForm} *}