{block content}
Are you sure do <b>restrat</b>.
<table>
	<tr>
		<td><a n:href="Power:" class="mybutton">← Back</a></td>
		<td></td><td></td><td></td>
		<td><a n:href="Power:reset" class="mybutton">Yes</a></td>
	</tr>
</table>