{block content}
You go to control Hardware, bat another service may-be controled this hardware.<br>
When you intervence into Hardware, those services may run not consistently.<br>
You intervence only when you know what you do.
<table>
	<tr>
		<td><a n:href="Hw:" class="mybutton">← Back</a></td>
		<td></td><td></td><td></td>
		<td><a n:href="Hw:accept" class="mybutton">I acknowledge</a></td>
	</tr>
</table>