{block content}

{control updateOpenvpnForm}

<p><a n:href="Openvpn:" class="mybutton">← Back</a></p>

	PS: OpenVPN have wide range of configuration options. This implemantation support only client<br>
	configuration with autentification by certification file, username and password.
